*{
    margin: 0;
    border: border-box;
    font-family: arial;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 120px;


}
.logo{
    background-image: url("amazon_logo.png");
    background-size:cover;
    height: 50px;
    width: 120px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/** Box2 **/

.addr{
    color: #cccccc;
    font-size:0.85rem;
    margin-left: 15px;
}
.locate{
    color:#ffffff;
    margin-left: 3px;
}
.deliver-icon{
    display: flex;
    align-items: center;
}


/** Box3 **/


.search-bar{
    display: flex;
    width: 620px;
    height: 40px;
    background-color: aqua;
    border-radius: 4px;
    justify-content: space-evenly;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 50px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffce12;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.search-bar:hover{
border: 2px solid orange;
}

/** Box4 **/

span{
    font-size: 12px;

}
.acc{
    font-size: 14px;
    font-weight: 700px;
}


/** Box6 **/

.cart-icon i{
    font-size: 30px;
  
}
.cart-icon{
    font-weight: 700px;
}


/** Panel **/

.panel{
    display: flex;
    justify-content: space-evenly;
    height: 39px;
    background-color: #222f3d;
    color:#ffffff;
    font-size: 12px;
    align-items: center;
}
.logoall i{
    font-size:14px;
    height: 14px;
    width: 17px;
}
.panel p{
    display: inline;
    font-size: 0.85rem;
    margin: 15px;
}

.anchors{
    width: 70%;
}

.last-anc{
    font-size: 0.9rem;
    font-weight: 700px;
}

/** Hero Section **/

.hero-section{
    background-image: url("hero-image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}
.hero-line{
    background-color: white;
    color: #0f1111;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
    width: 80%;
    margin-bottom: 25px;
}
.hero-line a{
    color: #007185;
}

/** Shop Section **/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
height: 420px;
width: 23%;
background-color: white;
margin-top: 15px;
margin-bottom: 10px;
}

.box p{
    margin-bottom: 15px;
    align-items: center;
}

.beautyimg{
   height: 300px;
   background-size: cover;
   padding: 20px 0px 15px;
   margin-top: 15px;
   margin-bottom: 15px;
}

.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
}

h2{
    margin-top: 10px;
    align-items: center;
}

/** Footer **/

.footer{
    margin-top: 15px;
}

.footerpanel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footerpanel2{
    background-color: #222f3d;
    color: white;
    font-size: 14px;
    padding: 0px 10px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    font-size: 0.75rem;
    margin-top: 15px;
    color: #dddddd;
}

ul p{
    margin-top: 25px;
    font-size: 16px;
    font-weight: 700px;
}

.lastpanel{
    background-color: #222f3d;
    border: white 0.5px solid;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
   background-image: url("amazon_logo.png");
    background-size:cover;
    height: 50px;
    width: 120px;
}

.footpanel{
    background-color: #0f1111;
    color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    height: 80px;

}

.lastfoot{
    padding-top: 25px;
}

.copyright{
padding-top: 5px;
}